.menu {
    height: 60px;
    color: white;
    
    position: relative;
    
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    right: 0;
}

.menu li {

    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;

}

.menu li:hover {
    color: #007bff;
    transform: scale(1.2);
}
/* Mobile Menu Styles */
.mobile-menu {
    display: none;
  }
  
  .mobile-menu-icon {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .menu ul {
      display: none;
    }
  
    .mobile-menu {
      display: block;
    }
  
    .mobile-menu ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: #f4f4f4;
      padding: 15px;
      margin-top: 60px;
    }
  
    .mobile-menu li {
      margin: 10px 0;
      font-weight: bold;
    }
  
    .mobile-menu li:hover {
      color: #007bff;
      transform: none;
    }
  }